In [1]:
import pandas as pd
import datetime
from minio import Minio

import sys
sys.path.append(r'D:\Documentos\Projetos\Ollist_End_to_End\airflow\dags')
import functions as f

In [2]:
data_lake_server= f.var['data_lake_server_local']
data_lake_login= f.var['data_lake_login']
data_lake_password= f.var['data_lake_password']

client = Minio(
        endpoint= data_lake_server,
        access_key= data_lake_login,
        secret_key= data_lake_password,
        secure=False
    )

In [4]:
df_rfm = pd.read_parquet(
    f.read_minio_file(bucket_name= 'agrupamento-clientes', file= 'dataframe_rfm.parquet', client= client)
)

In [16]:
df_rfm.head()

,customer_unique_id,geolocation_lat,geolocation_lng,frequency,monetary,recency
0,0000366f3b9a7992bf8c76cfdf3221e2,-23.340328,-46.830141,1,129.90,115.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,-23.559115,-46.787626,1,18.90,118.0
2,0000f46a3911fa3c0805444483337064,-27.542820,-48.633051,1,69.00,541.0
3,0000f6ccb0745a6a4b88665a16c9f078,-1.313018,-48.483798,1,25.99,325.0
4,0004aac84e0df4da2b147fca70cf8255,-23.505548,-47.469705,1,180.00,292.0

In [15]:
from pycaret.clustering import *

exp_clu101 = setup(data= df_rfm, normalize = True, 
                   ignore_features = ['customer_unique_id'],
                   session_id = 123)

In [22]:
kmeans = create_model('kmeans')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.306,32787.0702,1.0665,0,0,0

In [25]:
evaluate_model(kmeans)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Cluster PCA Plot (2d)', â€¦